node red flow.json
[{"id":"c71a0033d2c76e12","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"52247e3eca6772d2","type":"tuya-smart-device","z":"c71a0033d2c76e12","deviceName":"Honeygaridan S56","disableAutoStart":false,"deviceId":"xxxxxxxxxxxxxxxxxxxxx","deviceKey":"yyyyyyyyyyyyyyyy","storeAsCreds":false,"deviceIp":"192.168.1.177","retryTimeout":1000,"findTimeout":10000,"tuyaVersion":"3.3","eventMode":"event-both","x":1025,"y":150,"wires":[["cef59821fa0846eb"],["493db07d48cdcbd7"]]},{"id":"bb385157362107bf","type":"inject","z":"c71a0033d2c76e12","name":"PROVA MANUALE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"SET\",\"dps\":1,\"set\":\"CQADAQwAAwEPAAMBEgADARUMAgEAAAMA\"}","payloadType":"json","x":690,"y":200,"wires":[["52247e3eca6772d2","e84684110d6dda56"]]},{"id":"f00e6f9ad9e29cbb","type":"server-state-changed","z":"c71a0033d2c76e12","name":"Plan to app","server":"8af37893.fc1b08","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.gatti_meal_plan_to_app","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":215,"y":150,"wires":[["996ecaee5ce029b6"]]},{"id":"996ecaee5ce029b6","type":"function","z":"c71a0033d2c76e12","name":"SET Payload FOR dps 1","func":"var gatti_meal_plan_to_app = msg.payload;\nmsg.payload = {\n    \"operation\": \"SET\",\n    \"dps\": 1,\n    \"set\": gatti_meal_plan_to_app\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":150,"wires":[["52247e3eca6772d2","13326038aac97603"]]},{"id":"cef59821fa0846eb","type":"debug","z":"c71a0033d2c76e12","name":"Device Data","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1325,"y":115,"wires":[]},{"id":"493db07d48cdcbd7","type":"debug","z":"c71a0033d2c76e12","name":"Node State","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1345,"y":215,"wires":[]},{"id":"13326038aac97603","type":"debug","z":"c71a0033d2c76e12","name":"debug 156","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":685,"y":95,"wires":[]},{"id":"e84684110d6dda56","type":"debug","z":"c71a0033d2c76e12","name":"debug 157","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":685,"y":245,"wires":[]},{"id":"a20adba6fc36fe75","type":"comment","z":"c71a0033d2c76e12","name":"LEGGE STRINGA PLANNING ELABAORATA IN HOMEASSITANT","info":"","x":335,"y":105,"wires":[]},{"id":"361372974b7780bf","type":"comment","z":"c71a0033d2c76e12","name":"PREPARA PAYLOAD DA INVIARE ","info":"","x":685,"y":295,"wires":[]},{"id":"8c3a9f90c957ed11","type":"comment","z":"c71a0033d2c76e12","name":"CONNESSIONE A Honeygaridan S56","info":"","x":1030,"y":220,"wires":[]},{"id":"1821910cfe8db258","type":"comment","z":"c71a0033d2c76e12","name":"STATO CONNESSIONE A Honeygaridan S56","info":"","x":1380,"y":270,"wires":[]},{"id":"a179a28484d8d59a","type":"comment","z":"c71a0033d2c76e12","name":"True ok MESSAGGIO PASSATO","info":"","x":1350,"y":145,"wires":[]},{"id":"84436403d566be4d","type":"comment","z":"c71a0033d2c76e12","name":"CODICI ERRORE https://developer.tuya.com/en/docs/iot/error-code?id=K989ruxx88swc","info":"","x":1520,"y":175,"wires":[]},{"id":"8af37893.fc1b08","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]