node red flow.json
[{"id":"710558fa.25dab8","type":"tab","label":"Tuya local CONNECTION -> APP","disabled":false,"info":""},{"id":"d552691f3080eaa3","type":"tuya-smart-device","z":"710558fa.25dab8","deviceName":"Honeygaridan S56","disableAutoStart":false,"deviceId":"Your_dvice_id","deviceKey":"Your_device_key","storeAsCreds":false,"deviceIp":"192.168.1.177","retryTimeout":1000,"findTimeout":10000,"tuyaVersion":"3.3","eventMode":"event-both","x":935,"y":90,"wires":[["ab51ac180600d983"],["eb88040cdc11f86c"]]},{"id":"c4e9ddf67ba24c93","type":"inject","z":"710558fa.25dab8","name":"PROVA MANUALE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"operation\":\"SET\",\"dps\":1,\"set\":\"CQADAQwAAwEPAAMBEgADARUMAgEAAAMA\"}","payloadType":"json","x":600,"y":140,"wires":[["d552691f3080eaa3","761584a4cefa6b4b"]]},{"id":"98790538b3e8a2ac","type":"server-state-changed","z":"710558fa.25dab8","name":"Plan to app","server":"8af37893.fc1b08","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.gatti_meal_plan_to_app","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":125,"y":90,"wires":[["b872d88edd15ec85"]]},{"id":"b872d88edd15ec85","type":"function","z":"710558fa.25dab8","name":"SET Payload FOR dps 1","func":"var gatti_meal_plan_to_app = msg.payload;\nmsg.payload = {\n    \"operation\": \"SET\",\n    \"dps\": 1,\n    \"set\": gatti_meal_plan_to_app\n}\nreturn msg;\n//{\n    //\"deviceVirtualId\": \"Device_id\",\n    //\"deviceIp\": \"192.168.1.177\",\n    //\"deviceKey\": \"device_key",\n    //\"deviceName\": \"Honeyguard S56\",\n    //\"operation\": \"SET\", // optional default : SET\n    //\"payload\": {\n    //    \"dps\": 1,\n    //    \"set\": \"gatti_meal_plan_to_app\"\n    //},\n    //\"version\":\"3.3\"\n//}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":90,"wires":[["d552691f3080eaa3","14b0923550cbce3f"]]},{"id":"ab51ac180600d983","type":"debug","z":"710558fa.25dab8","name":"Device Data","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1235,"y":55,"wires":[]},{"id":"eb88040cdc11f86c","type":"debug","z":"710558fa.25dab8","name":"Node State","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1255,"y":155,"wires":[]},{"id":"14b0923550cbce3f","type":"debug","z":"710558fa.25dab8","name":"debug 146","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":595,"y":35,"wires":[]},{"id":"761584a4cefa6b4b","type":"debug","z":"710558fa.25dab8","name":"debug 147","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":595,"y":185,"wires":[]},{"id":"d5ee9d360dd4afd6","type":"comment","z":"710558fa.25dab8","name":"LEGGE STRINGA PLANNING ELABAORATA IN HOMEASSITANT","info":"","x":245,"y":45,"wires":[]},{"id":"fc864b508b10eaa3","type":"comment","z":"710558fa.25dab8","name":"PREPARA PAYLOAD DA INVIARE ","info":"","x":595,"y":235,"wires":[]},{"id":"acb8a5624b01fcc1","type":"comment","z":"710558fa.25dab8","name":"CONNESSIONE A Honeygaridan S56","info":"","x":940,"y":160,"wires":[]},{"id":"625f5795a21ea05e","type":"comment","z":"710558fa.25dab8","name":"STATO CONNESSIONE A Honeygaridan S56","info":"","x":1290,"y":210,"wires":[]},{"id":"807a15e1fc46a796","type":"comment","z":"710558fa.25dab8","name":"True ok MESSAGGIO PASSATO","info":"","x":1260,"y":85,"wires":[]},{"id":"1bae1ed3adbee423","type":"comment","z":"710558fa.25dab8","name":"CODICI ERRORE https://developer.tuya.com/en/docs/iot/error-code?id=K989ruxx88swc","info":"","x":1430,"y":115,"wires":[]},{"id":"8af37893.fc1b08","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]